.outerCard {
  border: 1px solid black;
  border-radius: 5px;
  width: 100px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 10px;
}

.rank {
  font-size: 60px;
}

.suit {
  font-size: 60px;
}
